<form class="delete-form" method="POST" action="<%=url%>?_method=DELETE">
    <div class="delete-form-field">
        <button class="form-field-btn" type="submit">Clear</button>

    </div>
    
</form>