<div id="footer">
    <div class="footer-content">Site design@stock exchange licensed under nobody because it is free</div>
    <div class="footer-content">Developer:Abhilash Sreenivasa</div>
    <div class="footer-content">abhilash.sreenivasa@gmail.com</div>
</div>