
    <header class="head">
        <div class="title">
            <a id="title-link" href="/">Expense tracker</a>
            <%- include('./logout.ejs') %>
        </div>
        <nav class="nav">
            <ul class="nav-ul">
                <li class="nav-link" id="nav-link-1"><a class="nav-link-text"  href='/'>Home</a></li>
                <li class="nav-link"><a class="nav-link-text"  href='/activity'>Activity</a></li>
                <li class="nav-link"><a class="nav-link-text"  href='/lend'>Lend</a></li>
                <li class="nav-link"><a class="nav-link-text"  href='/borrow'>Borrow</a></li>
            </ul>
        </nav>
    </header>
  
    