<div class="head">
    <header>
        <div class="title">
            <a id="title-link" href="/">Expense tracker</a>
        </div>
        <nav>
            <ul>
                <li><a class="nav-link" href='/'>Home</a></li>
                <li><a class="nav-link" href='/activity'>Activity</a></li>
                <li><a class="nav-link" href='/lend'>Lend Money</a></li>
                <li><a class="nav-link" href='/borrow'>Borrow Money</a></li>
            </ul>
        </nav>
    </header>
    </div>
    