<div class="main">




<div class="main-login">
    <div class="main-login-title">
        Login page
    </div>
<form class="form" action="/login" method="POST">
    <div class=form-field>
        <label class="form-field-label" for="email">Email</label>
        <input class="form-field-input" type="email" id="email" name="email" required>
    </div>

    <div class="form-field">
        <label class="form-field-label" for="password">Password</label>
        <input class="form-field-input" type="password" id="name" name="password" required>
    </div>

    <div class="form-field">
        <button class="form-field-btn" type="submit">Login</button>
    </div>
</form>
<% if(messages.error){ %>
    <div class="main-login-error">
        <%= messages.error %>
    </div>
    <%} %>
<div class="anchor-link">
<a class="anchor-link-text" href="/register">register</a>
</div>
</div>
</div>