<div class="main"> 
<div class="main-login">
<div class="main-login-title">Register</div>

<form class="form" action="/register" method="POST">
    <div class="form-field">
        <label class="form-field-label" for="name">Name</label>
        <input class="form-field-input" type="text" id="name" name="name" required>
    </div>

    <div class="form-field">
        <label class="form-field-label" for="email">Email</label>
        <input class="form-field-input" type="email" id="email" name="email" required>
    </div>

    <div class="form-field">
        <label class="form-field-label"  for="password">Password</label>
        <input class="form-field-input" type="password" id="password" name="password" required>
    </div>

    <div class="form-field">
        <button class="form-field-btn" type="submit">Register</button>
    </div>
    <% if(message!=null){ %>
        <div class="main-login-error">
            <%= message %>
        </div>
        <%} %>
</form>
<a class="anchor-link-text" href="/login">Login</a>
</div>
</div>