html,body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  background-image: linear-gradient( rgb(248, 247, 247),rgb(146, 135, 135));
  background-size: contain; 
background-repeat: no-repeat;
min-height:100%;
max-height: 100%;
width:100%;



  

}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.main-login{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:100px;
    -webkit-box-shadow: 0 0 35px black;
        box-shadow: 0 0 35px black;
    padding:25px;
    background-color:white;
    border-radius: 10px;
    
}
.main-login-title{
    font-size:25px;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    padding:30px 30px 10px 30px;
}
.form-field{
    display:flex;
    flex-direction: column;
    margin:10px;
    align-items: center;

}
.form-field-label{
    margin-bottom:5px;
    font-weight: 500;
}

.form-field-input{
    padding:5px;
    border: 1px solid black;
}
.form-field-input:focus{
    border: 3px solid #555;
}
.form-field-btn{
    background-color: rgb(37, 78, 38);
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
}
.form-field-btn:hover{
    background-color: rgb(24, 151, 24);
}
.anchor-link{
    padding: 5px;
    
}
.anchor-link-text{
    color:rgb(3, 3, 107);
}
.main-login-error{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(131, 7, 7);
    font-size: 11px;
    border-bottom: 9px;
    font-weight: 600;

}
.head{
    display: flex;
    flex-direction: column;
    width:100%;

}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
#title-link{
    font-size: 35px;
    text-decoration: none;
    color:rgba(194, 9, 9, 0.918);
    font-weight:bold;
}
#title-link:hover{
    color:red;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: rgb(65, 66, 65);
}
.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    margin: 0px;


    
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:19px;
    text-decoration: none;
    padding:10px 15px;
    border-right:1px solid black;
}
.nav-link:hover{
    background-color:black ;
}
#nav-link-1{
    border-left: 1px solid black;
}
.nav-link-text{
    color: white;
    text-decoration: none;
}
.main-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    -webkit-box-shadow: 0 0 35px black;
    box-shadow: 0 0 35px black;
    padding:25px;
    background-color:white;
    border-radius: 10px;
    width:40%;

}
.main-hello{
    font-weight:bold;
    font-size:19px;
    padding:20px 0px 30px 0px;
    color:rgba(194, 9, 9, 0.918);
}
.main-text{
    display: flex;
    padding:7px;
    
}
.main-text-key{
    font-size: 19px;
    
}
.main-text-value{
    font-size:19px;
    color:rgb(37, 78, 38);
}
.main-text-value{
    animation: blinker 3s linear infinite;
    font-weight: 600;
    margin-left:5px;
  }
  #add-money{
      font-weight: 600;
  }
  
  @keyframes blinker {
    70% {
      opacity: 0;
    }
  }

  #logout-btn{
    background: none!important;
    border: none;
    font-size:15px;
    color:rgba(194, 9, 9, 0.918);
    text-decoration: underline;
    cursor: pointer;

  }
  #main-text-activity{
      padding:10px
  }
  .activity-main{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .main-text-left{
      display:flex;
      flex-direction: column;
      min-width:30%;
      max-width: 30%;
      align-items: center;
      justify-content: center;
      
      
      padding:10px;
      
      border-radius: 10px;
      margin-left:20px;

  }
  .main-right{
      display:flex;
      flex-direction: column;
      width:70%;
      align-items: center;
      justify-content: center;
  }
.main-activities{
    display: flex;
    flex-direction: column;
    padding:5px;
    background-color: white;
}

  .main-activity-detail{
      display:flex;
      align-items: center;
      justify-content: center;

  }
  .main-activity-detail-info{
      padding:10px
  }
  .delete-form{
        display: flex;
        flex-direction: column;
    
  }
  .delete-form-field{
    display:flex;
    flex-direction: column;
    align-items: center;

}


table{
    
   max-width: 60%;
    align-items: center;
}
 th, td {
     
    border: 1px solid black;
   border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  tr{
    background-color: white;
     display: table-row;
  }
