body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main-login{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:100px;
    -webkit-box-shadow: 0 0 15px rgb(94, 90, 90);
        box-shadow: 0 0 15px rgb(94, 90, 90);
    padding:25px;
    
}
.main-login-title{
    font-size:25px;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    padding:30px 30px 10px 30px;
}
.form-field{
    display:flex;
    flex-direction: column;
    margin:10px;
    align-items: center;

}
.form-field-label{
    margin-bottom:5px;
    font-weight: 500;
}

.form-field-input{
    padding:5px;
}
.form-field-input:focus{
    border: 3px solid #555;
}
.form-field-btn{
    background-color: rgb(37, 78, 38);
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
}
.form-field-btn:hover{
    background-color: rgb(24, 151, 24);
}
.anchor-link{
    padding: 5px;
    
}
.anchor-link-text{
    color:rgb(3, 3, 107);
}
.main-login-error{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(131, 7, 7);
    font-size: 11px;
    border-bottom: 9px;
    font-weight: 600;
    
}